$width: 100%;
$font-size: 18px;
html,body{
    margin: 0;
    padding: 0;
    height: $width;
    font-size: $font-size;
    background-color: #fbfbfb;
}
body{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: $width;
    ul,ol{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
}
.container{
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    position: relative;
    .logo{
        height: 90px;
        width: 90px;
        margin: 60px auto 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px #D4D4D4;
        .img{
            width: $width;
            height: $width;
            background: url(../images/logo.png) no-repeat center center;
            background-size: $width - 5%;
        }
    }
    .title{
        width: $width;
        input{
            background: none;
            border: none;
            border-bottom: 1px solid #000;
        }
    }
    .centent{
        width: $width;
        height: auto;
        overflow: hidden;
        margin-bottom: 80px;
        .content-box{
            margin: 10px 0;
        }
        label,div{
            width: $width;
            line-height: 40px;
            display: inline-block;
            // background: #efeded;
            margin: 5px 0;
            textarea{
                width: $width;
                height: 100px;
                resize: vertical;
            }
        }
        input[type=radio] {
            position: absolute;
            opacity: 0;
          }
        input[type=radio] + label::before {
            content: '';
            background: #f4f4f4;
            border-radius: 100%;
            border: 1px solid #b4b4b4;
            display: inline-block;
            width: 1.4em;
            height: 1.4em;
            position: relative;
            top: 0.4em;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            -webkit-transition: all 250ms ease;
            transition: all 250ms ease;
          }
          input[type=radio]:checked + label:before {
            background-color: #3197EE;
            box-shadow: inset 0 0 0 4px #f4f4f4;
          }
          input[type=radio]:focus + label:before {
            outline: none;
            border-color: #3197EE;
          }
          input[type=radio]:disabled + label:before {
            box-shadow: inset 0 0 0 4px #f4f4f4;
            border-color: #b4b4b4;
            background: #b4b4b4;
          }
          input[type=radio] + label:empty:before {
            margin-right: 0;
          }
          input._int_{
            background: none;
            border: none;
            border-bottom: 1px solid #000;
          }
          .photo{
            display: none;
            width: 100%;
            position: relative;
            figure{
                display: contents;
                position: relative;
                width: 60px;
                height: 60px;
                svg{
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    font-style: inherit;
                    width: 1em; height: 1em;
                    vertical-align: -0.15em;
                    fill: currentColor;
                    overflow: hidden;
                }
                img{
                    width: 60px;
                    height: 60px;
                    float: left;
                    border: 1px solid #f1efef;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
                    margin: 5px;
                }
            }
            .push{
                width: 60px;
                height: 60px;
            }
            .push::before{
                content: '';
                display: block;
                width: $width;
                height: $width;
                background: url(../images/push-img.png) no-repeat center center;
                background-size: $width;
            }
        }
    }
    .footer{
        width: $width;
        position: absolute;
        bottom: 5%;
        left: 0;
        text-align: center;
        line-height: 40px;
        padding:0 10px;
        box-sizing: border-box;
        .next{
            width: $width - 66.67%;
            float: right;
            background: #fff100;
            border-radius: 30px;
        }
        .home{
            width: $width - 66.66%;
            float: left;
            visibility: hidden;
            background: #fff100;
            border-radius: 30px;
        }
        .prev{
            width: $width - 66.67%;
            float: left;
            background: #fff100;
            border-radius: 30px;
        }
    }
}
// loading
.module{
    display: none;
    width: $width;
    height: $width;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    left:0;
    .loader {
        position: absolute; 
        top: 50%;
        left: 50%;
        margin-left: -30px;
        margin-top: -30px;
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        display: inline-block; 
        vertical-align: middle; 
        .loader-star {
            position: static; 
            width: 60px; 
            height: 60px; 
            -webkit-transform: scale(0.7);
             transform: scale(0.7);
              -webkit-animation: loader-box-star 1s ease alternate infinite; 
              animation: loader-box-star 1s ease alternate infinite;
        }
        .loader-circles {
            width: 8px; 
            height: 8px; 
            background: #18ffff; 
            border-radius: 50%; 
            position: absolute; 
            left: calc(50% - 4px); 
            top: calc(50% - 4px); 
            -webkit-transition: all 1s ease; 
            transition: all 1s ease; 
            -webkit-animation: loader-box-circles 1s ease-in-out alternate infinite; 
            animation: loader-box-circles 1s ease-in-out alternate infinite; 
        }
    }
}
@-webkit-keyframes loader-box-circles {
    0% {
    box-shadow: 0 0 0 #18ffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    50% {
    box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
   }
    100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
   }
}
@keyframes loader-box-circles {
    0% {
    box-shadow: 0 0 0 #18ffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
   }
    50% {
    box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
   }
    100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
   }
   }
@-webkit-keyframes loader-2-star {
    0% {
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
   }
    100% {
    -webkit-transform: scale(0.7) rotate(360deg);
    transform: scale(0.7) rotate(360deg);
   }
}
@keyframes loader-box-star {
    0% {
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
   }
    100% {
    -webkit-transform: scale(0.7) rotate(360deg);
    transform: scale(0.7) rotate(360deg);
   }
}